@inherits SchoolPilot.Print.RazorTemplateBase
<!DOCTYPE html>
<html>
<head>
    @EmbedCss("Templates/Bootstrap.css")
    @Include("css")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>